<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="~{default}">

<head>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="text-center" style="padding:200px 0px; margin-left: 30%;">
        <div class="col-md-6 col-md-offset-3">
            <h1>로그인</h1>
            <form th:action="@{/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username or password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have been logged out.
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control" autofocus="autofocus"
                           placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div>
                    <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-info"
                           value="로그인">
                    <p>new user? <a th:href="@{/member_join}">create new account</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
